In [1]:
import pandas as pd
path='ipl_dataset.csv'
data=pd.read_csv(path)

print(data.head(5))
print(data.head(10))

   match_code        date         city         venue                  team1  \
0      392203  2009-05-01  East London  Buffalo Park  Kolkata Knight Riders
1      392203  2009-05-01  East London  Buffalo Park  Kolkata Knight Riders
2      392203  2009-05-01  East London  Buffalo Park  Kolkata Knight Riders
3      392203  2009-05-01  East London  Buffalo Park  Kolkata Knight Riders
4      392203  2009-05-01  East London  Buffalo Park  Kolkata Knight Riders

            team2     toss_winner toss_decision          winner win_type  \
0  Mumbai Indians  Mumbai Indians           bat  Mumbai Indians     runs
1  Mumbai Indians  Mumbai Indians           bat  Mumbai Indians     runs
2  Mumbai Indians  Mumbai Indians           bat  Mumbai Indians     runs
3  Mumbai Indians  Mumbai Indians           bat  Mumbai Indians     runs
4  Mumbai Indians  Mumbai Indians           bat  Mumbai Indians     runs

        ...               batsman    non_striker    bowler runs extras total  \
0       ...         ST Jayasuriya   SR Tendulkar  I Sharma    0      1     1
1       ...         ST Jayasuriya   SR Tendulkar  I Sharma    1      0     1
2       ...          SR Tendulkar  ST Jayasuriya  I Sharma    0      1     1
3       ...          SR Tendulkar  ST Jayasuriya  I Sharma    0      0     0
4       ...          SR Tendulkar  ST Jayasuriya  I Sharma    2      0     2

  extras_type  player_out  wicket_kind  wicket_fielders
0       wides         NaN          NaN              NaN
1         NaN         NaN          NaN              NaN
2       wides         NaN          NaN              NaN
3         NaN         NaN          NaN              NaN
4         NaN         NaN          NaN              NaN

[5 rows x 24 columns]

In [5]:
D={'A':25, 'B':30}
D[max(D)]

30